@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:400,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .input {
    @apply relative w-full h-[46px] pr-[44px] pl-[11px] border border-gray_eb rounded-md text-[16px] outline-none placeholder:text-gray_76 flex items-center focus:border-dark_cyan;
  }
}

@layer utilities {
}
