@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:400,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}
